@charset 'utf-8';

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 100;
  src: url('/resource/fonts/NotoSansKR/NotoSans-Thin.eot');
  src:
    url('/resource/fonts/NotoSansKR/NotoSansKR-Thin.eot?#iefix') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Thin-Hestia.eot') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Thin-Hestia.woff') format('woff'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Thin-Hestia.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 200;
  src: url('/resource/fonts/NotoSansKR/NotoSans-Light.eot');
  src:
    url('/resource/fonts/NotoSansKR/NotoSansKR-Light.eot?#iefix') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Light-Hestia.eot') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Light-Hestia.woff') format('woff'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Light-Hestia.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  src: url('/resource/fonts/NotoSansKR/NotoSans-DemiLight.eot');
  src:
    url('/resource/fonts/NotoSansKR/NotoSansKR-DemiLight.eot?#iefix') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-DemiLight-Hestia.eot') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-DemiLight-Hestia.woff') format('woff'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-DemiLight-Hestia.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  src: url('/resource/fonts/NotoSansKR/NotoSans-Regular.eot');
  src:
    url('/resource/fonts/NotoSansKR/NotoSansKR-Regular.eot?#iefix') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Regular-Hestia.eot') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Regular-Hestia.woff') format('woff'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Regular-Hestia.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 500;
  src: url('/resource/fonts/NotoSansKR/NotoSans-Medium.eot');
  src:
    url('/resource/fonts/NotoSansKR/NotoSansKR-Medium.eot?#iefix') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Medium-Hestia.eot') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Medium-Hestia.woff') format('woff'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Medium-Hestia.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 700;
  src: url('/resource/fonts/NotoSansKR/NotoSans-Bold.eot');
  src:
    url('/resource/fonts/NotoSansKR/NotoSansKR-Bold.eot?#iefix') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Bold-Hestia.eot') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Bold-Hestia.woff') format('woff'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Bold-Hestia.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 900;
  src: url('/resource/fonts/NotoSansKR/NotoSans-Black.eot');
  src:
    url('/resource/fonts/NotoSansKR/NotoSansKR-Black.eot?#iefix') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Black-Hestia.eot') format('embedded-opentype'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Black-Hestia.woff') format('woff'),
    url('/resource/fonts/NotoSansKR/NotoSansKR-Black-Hestia.otf') format('opentype');
}
